<header id="top-header">
    <picture>
        <img src="" alt="logo">
    </picture>
    <h1>Lima South Tours</h1>
    <span class="siteSlang">
        <a href="/" title="Return to home page">Tour Operator </a>
    </span>
</header>